<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'index.css') }}">
    <script type = "text/javascript" src="{{ url_for('static', filename = 'animate.js') }}" ></script>
  </head>

  <body>
  <div class="row">
    <div class="column">
      <h2> Recherche </h2>
      <br/>
      <input type="text" id="search" name="fname">
      <input type = "button" onclick = "sayHello()" value = "Go !" />
      <br/>
      <ul id="results-list"> </ul>
    </div>
    <div class="column">
      <h2> Panier    </h2>
      <br/>
      <input type = "button" onclick = "generate()" value = "Chercher bibliothèques" />
      <ul id="panier"> </ul>
    </div>
  </div>
  </body>
</html>
